body{
  display: flex;
  justify-content: center;
  background-color: #007074;
  font-family: inherit;
  font-size: 15px;
  color: #ffff;
  margin:0px;
  padding: 0px;
  
}
p{
  font-size: 20px;
  font-weight: bold;
}

input{
  background-color:aliceblue;
  color:#000;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #6d6c6c;
}
button{
  margin:10px;
  background-color: #093d3e;
}
.cantidad{
  width: 40px;
  margin:0px;
}
.form{
  display: flex;
  justify-content: center;
}
.listaCompras{
  margin:10px;
  padding: 25px;
  width: 100%;
  background-color: #f7e9e6c8;
  border: 2px solid #6d6c6c;
  border-radius: 8px;
}
.item{
  margin:10px;
  padding: 25px;
  padding-top: 5px;
  width: 100%;
  background-color: #f7e9e6c8;
  border: 2px solid #6d6c6c;
  border-radius: 8px;
  color:#000;
}

.actualizar{
  margin:10px;
  padding: 25px;
  padding-top: 5px;
  width: 100%;
  border-radius: 8px;
  color:#000;
}
